/* Pretty much all the CSS is necessary in some way but the colors and font sizes can be changed.


If you include additional links to the large screen navigation, you may need to adjust the media query size 
for better responsiveness.
*/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    color: white;
    background-color: rgb(35, 55, 107);
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.nav-icon {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background: rgb(18, 29, 56);
}

.header-text {
    margin-left: 15px;
    cursor: default;
    user-select: none;
}

.links-large-screen {
    margin-right: 10%;
}

.nav-item {
    padding: 10px 30px;
}

.nav-item:hover {
    background: rgb(18, 29, 56);
}

.mobile-nav-button {
    display: none;
    flex-direction: column;
    margin-right: 10%;
    line-height: 0%;
    border: solid white 1px;
    border-radius: 2px;
    padding: 10px 15px 5px 15px;
    cursor: default;
    user-select: none;
}

.h-line {
    margin-top: -5px;
}

.links-small-screen {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0px;
    transition: height 0.3s;
    background: rgb(35, 55, 107);
}

.item-text-small {
    padding: 20px 20px;
}

.item-text-small:hover {
    background: rgb(18, 29, 56);
}


@media (max-width: 1000px) {
    .links-large-screen {
        display: none;
    }

    .mobile-nav-button {
        display: flex;
    }
}