html,
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(rgb(194, 201, 216), rgb(98, 133, 207));
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carousel-container {
    display: flex;
    align-items: center;
    min-height: 475px;
    width: 70%;
    min-width: 280px;
    background-color: #292b2c;
    box-shadow: inset 0px 0px 35px black;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    height: 350px;
    max-width: 250px;
    min-width: 250px;
    margin: 0px 50px;
    background: white;
    box-shadow: 0px 0px 25px black;
    transition: transform 0.2s;
}

.card-img{
    background: rgb(44, 108, 135);
    min-height: 140px;
}

.card-title{
    padding: 0px 0px 0px 20px;
    margin-bottom: -20px;
}

.card-text{
    padding: 0px 20px 0px 20px;
}

.card-btn{
    border: none;
    color: white;
    text-align: center;
    background-color: rgb(44, 108, 135);
    margin:auto 20px 20px 20px;
    padding: 15px;
}

.card-mover-btn{
    position: absolute;
}

.prev-cont{
    margin-right: 73.7%
}

.next-cont{
    margin-left: 73.7%;
}

.btn{
    font-size: 50px;
    color: white;
    border: none;
    background: rgba(0, 0, 0, 0.5);
}

.btn:hover{
    background-color: rgba(101, 101, 101, 0.722);
}
