<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant Template About Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/about/about.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/icon-tiny.jpg" alt="Empty navigation icon." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <li class="navigation-link-holder"><a href="menus.html" class="navigation-link">MENU</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">ABOUT</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html" class="navigation-link-collapse">HOME</a></li>
            <li class="navigation-link-holder-collapse"><a href="menus.html" class="navigation-link-collapse">MENU</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html" class="navigation-link-collapse">ABOUT</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>
    </nav>

    <main class="about-content">
        <section class="about-restaurant-container">
            <h2 class="about-header">About this Restaurant: </h2>
            <hr class="about-break">
            <div class="image-container">
                <img src="../styles/pictures/Empty_image_sbn.jpg" alt="Empty Image" class="about-image">
            </div>
            <p class="about-message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
                deleniti veniam sit dolorum fugit ullam corrupti voluptas dolorem ad modi vel at dolores
                molestias quas quisquam, quidem laudantium incidunt? Beatae. Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. Labore doloremque aspernatur cupiditate, dolorem
                suscipit neque consequatur dolores et dicta tenetur quisquam quas delectus atque maxime
                accusantium. Qui perferendis natus atque.</p>
            <hr class="about-break">
        </section>

        <section class="about-chef-container">
            <h2 class="about-header">About the Chefs: </h2>
            <hr class="about-break">

            <div class="chef-container">
                <img src="../styles/pictures/Empty_image.jpg" alt="Empty Chef Image" class="chef-image">
                <div class="chef-message-container">
                    <h3 class="chef-title">Head Chef</h3>
                    <p class="chef-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perspiciatis magnam eius possimus, adipisci nisi tenetur blanditiis dignissimos
                        iure eum in laboriosam sunt dolorem iste dolor quod magni a ipsam quisquam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis magnam eius
                        possimus, adipisci nisi tenetur blanditiis dignissimos iure eum in laboriosam sunt
                        dolorem iste dolor quod magni a ipsam quisquam.</p>
                </div>
            </div>
            <hr class="about-break">

            <div class="chef-container chef-reverse">
                <img src="../styles/pictures/Empty_image.jpg" alt="Empty Chef Image" class="chef-image">
                <div class="chef-message-container">
                    <h3 class="chef-title">Chef One</h3>
                    <p class="chef-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perspiciatis magnam eius possimus, adipisci nisi tenetur blanditiis dignissimos
                        iure eum in laboriosam sunt dolorem iste dolor quod magni a ipsam quisquam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis magnam eius
                        possimus, adipisci nisi tenetur blanditiis dignissimos iure eum in laboriosam sunt
                        dolorem iste dolor quod magni a ipsam quisquam.</p>
                </div>
            </div>

            <div class="chef-container">
                <img src="../styles/pictures/Empty_image.jpg" alt="Empty Chef Image" class="chef-image">
                <div class="chef-message-container">
                    <h3 class="chef-title">Chef Two</h3>
                    <p class="chef-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perspiciatis magnam eius possimus, adipisci nisi tenetur blanditiis dignissimos
                        iure eum in laboriosam sunt dolorem iste dolor quod magni a ipsam quisquam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis magnam eius
                        possimus, adipisci nisi tenetur blanditiis dignissimos iure eum in laboriosam sunt
                        dolorem iste dolor quod magni a ipsam quisquam.</p>
                </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <hr class="footer-break">
            <p class="copyright">© 2023 Restaurant</p>
            <p class="footer-info">9999 Lorem Street, Ipsum, WA 99999 -
                <a href="mailto:narlocka@gmail.com" class="email-link">email</a> -
                Designed by: Andrew Narlock 2023
            </p>
        </div>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>