<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant Template Contact Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/contact/updates.css">
    <link rel="stylesheet" href="../styles/contact/info.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/icon-tiny.jpg" alt="Empty navigation icon." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <li class="navigation-link-holder"><a href="menus.html" class="navigation-link">MENU</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">ABOUT</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html" class="navigation-link-collapse">HOME</a></li>
            <li class="navigation-link-holder-collapse"><a href="menus.html" class="navigation-link-collapse">MENU</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html" class="navigation-link-collapse">ABOUT</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>
    </nav>

    <main class="contact-content">
        <section class="updates-container">
            <h3 class="update-header">News / Updates:</h3>
            <hr class="contact-break">
            <h2 class="update-title">Call for Reservations:</h2>
            <p class="update-message">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Eligendi at, veniam.</p>
            <h2 class="update-title">Holiday Business Hours:</h2>
            <p class="update-message">Tuesday through Saturday 11:30am - 9pm
                <br>
                Closed on Sundays and Mondays
            </p>
            <h2 class="update-title">Business Inquiries:</h2>
            <p class="update-message">For questions or business inquiries please call at 555-555-5555,
                or email: <a href="mailto:narlocka@gmail.com" class="email-link">testmail@email.com</a> </p>
            <hr class="contact-break">
        </section>

        <section class="business-info-container">
            <div class="business-info">
                <h3 class="info-title">Location</h3>
                <address>
                    <p class="info-content">9999 Lorem Street, <br>
                        Ipsum, WA <br>
                        99999</p>
                </address>
            </div>
            <div class="business-info">
                <h3 class="info-title">Hours</h3>
                <p class="info-content">Tuesday through Saturday <br>
                    11:30am - 9pm <br>
                    Closed on Sundays and Mondays</p>
            </div>
            <div class="business-info">
                <h3 class="info-title">Contact</h3>
                <p class="info-content">555-555-5555 <br>
                    <a href="mailto:narlocka@gmail.com" class="email-link">Email</a> <br>
                    Social Media Links
                </p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <hr class="footer-break">
            <p class="copyright">© 2023 Restaurant</p>
            <p class="footer-info">9999 Lorem Street, Ipsum, WA 99999 -
                <a href="mailto:narlocka@gmail.com" class="email-link">email</a> -
                Designed by: Andrew Narlock 2023
            </p>
        </div>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>