<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brochure Template Page</title>
    <meta name="description" content="This is a template page for a brochure website.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/pages/content.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pics/icon-tiny.jpg" alt="Empty navigation icon." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <button class="pages-menu-button">PAGES</button>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">ABOUT</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html" class="navigation-link-collapse">HOME</a></li>
            <button class="pages-menu-button-collapse navigation-link-holder-collapse">PAGES</button>
            <li class="navigation-link-holder-collapse"><a href="about.html" class="navigation-link-collapse">ABOUT</a></li>
        </ul>

        <ul class="pages-menu">
            <li class="pages-link-holder"><a href="pageOne.html" class="pages-link">Page 1</a></li>
            <li class="pages-link-holder"><a href="pageTwo.html" class="pages-link">Page 2</a></li>
            <li class="pages-link-holder"><a href="pageThree.html" class="pages-link">Page 3</a></li>
        </ul>
    </nav>

    <main class="pages-content-image">
        <div class="pages-content-message-wrapper">
            <h2 class="pages-content-title">Page 2</h2>
            <p class="pages-content-message">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Aut, eius. Eum, eaque dolore laudantium animi ex pariatur quidem nam voluptatem
                similique obcaecati earum sed quia rerum omnis nostrum blanditiis magni.Lorem ipsum dolor sit amet
                consectetur, adipisicing elit.
                Aut, eius. Eum, eaque dolore laudantium animi ex pariatur quidem nam voluptatem
                similique obcaecati earum sed quia rerum omnis nostrum blanditiis magni.Lorem ipsum dolor sit amet
                consectetur, adipisicing elit.
                Aut, eius. Eum, eaque dolore laudantium animi ex pariatur quidem nam voluptatem
                similique obcaecati earum sed quia rerum omnis nostrum blanditiis magni.</p>

            <p class="pages-content-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere, eveniet. Est vel modi iste voluptate possimus temporibus omnis itaque
                dolorum illo, quas exercitationem repellendus explicabo totam nihil vitae
                repudiandae natus!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere, eveniet. Est vel modi iste voluptate possimus temporibus omnis itaque
                dolorum illo, quas exercitationem repellendus explicabo totam nihil vitae
                repudiandae natus!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere, eveniet. Est vel modi iste voluptate possimus temporibus omnis itaque
                dolorum illo, quas exercitationem repellendus explicabo totam nihil vitae
                repudiandae natus!</p>

            <div class="button-holder">
                <a href="pageOne.html" class="next-page">Prev Page</a>
                <a href="pageThree.html" class="next-page">Next Page</a>
            </div>

        </div>
    </main>

    <footer class="footer">
        <p class="footer-message">Designed by: Andrew Narlock 2023</p>
    </footer>


    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>